In [53]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

In [54]:
names.append("Priscilla")
insurance_costs.append(8320.0)

In [55]:
print(str(names) + "\n" + str(insurance_costs))

['Mohamed', 'Sara', 'Xia', 'Paul', 'Valentina', 'Jide', 'Aaron', 'Emily', 'Nikita', 'Paul', 'Priscilla']
[13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0, 8320.0]

In [72]:
medical_records = zip(insurance_costs, names)
medical_records = list(medical_records)

In [73]:
num_medical_records = int(len(medical_records))
print("There are " + str(num_medical_records) + " medical records")

There are 11 medical records

In [74]:
first_medical_record = medical_records[0]
print("Here is the first medical record :" + str(first_medical_record))

Here is the first medical record :(13262.0, 'Mohamed')

In [76]:
medical_records.sort()

In [78]:
print("Here are the medical records sorted: " + str(medical_records))

Here are the medical records sorted: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul'), (5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (8320.0, 'Priscilla'), (12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [84]:
cheapest_three = medical_records[:3]
print("Here are the three cheapest insurance costs in our medical records: " + str(cheapest_three))

Here are the three cheapest insurance costs in our medical records: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

In [95]:
pricest_three = medical_records[-3:]
print("Here are the three pricest insurance costs in our medical records: " + str(pricest_three))

Here are the three pricest insurance costs in our medical records: [(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [99]:
occurences_paul = names.count("Paul")
print("There are " + str(occurences_paul) + " individuals with the name Paul in our medical records")

There are 2 individuals with the name Paul in our medical records

In [104]:
_medical_records = list(zip(names, insurance_costs))
_medical_records.sort()
print(_medical_records)

[('Aaron', 7640.0), ('Emily', 6072.0), ('Jide', 5360.0), ('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0), ('Priscilla', 8320.0), ('Sara', 4816.0), ('Valentina', 14724.0), ('Xia', 6839.0)]

In [108]:
_medical_records[3:8]

[('Mohamed', 13262.0),
 ('Nikita', 2750.0),
 ('Paul', 5054.0),
 ('Paul', 12064.0),
 ('Priscilla', 8320.0)]

In [111]:
my_info = ("Tony", 24, "Artist")
name, age, occupy = my_info
print(age)

24